In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
data = pd.read_csv('dummy.csv')

In [3]:
data

     SAT   GPA Attendance
0   1714  2.40         No
1   1664  2.52         No
2   1760  2.54         No
3   1685  2.74         No
4   1693  2.83         No
..   ...   ...        ...
79  1936  3.71        Yes
80  1810  3.71        Yes
81  1987  3.73         No
82  1962  3.76        Yes
83  2050  3.81        Yes

[84 rows x 3 columns]

In [4]:
data['Attendance'] = data['Attendance'].map({'Yes':1,'No':0})

In [5]:
data

     SAT   GPA  Attendance
0   1714  2.40           0
1   1664  2.52           0
2   1760  2.54           0
3   1685  2.74           0
4   1693  2.83           0
..   ...   ...         ...
79  1936  3.71           1
80  1810  3.71           1
81  1987  3.73           0
82  1962  3.76           1
83  2050  3.81           1

[84 rows x 3 columns]

In [6]:
x = data[['SAT','Attendance']]

In [7]:
x

     SAT  Attendance
0   1714           0
1   1664           0
2   1760           0
3   1685           0
4   1693           0
..   ...         ...
79  1936           1
80  1810           1
81  1987           0
82  1962           1
83  2050           1

[84 rows x 2 columns]

In [8]:
y = data['GPA']

In [9]:
y

0     2.40
1     2.52
2     2.54
3     2.74
4     2.83
      ...
79    3.71
80    3.71
81    3.73
82    3.76
83    3.81
Name: GPA, Length: 84, dtype: float64

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [12]:
model.fit(x,y)

LinearRegression()

In [13]:
#b0
model.intercept_

0.6438504592803018

In [14]:
model.coef_

array([0.0013998 , 0.22264409])

In [15]:
# r-square
model.score(x,y)

0.5654390486739878